$blue: #2f80ed;
$white: #ffffff;

:host {
  .btn {
    display: inline-flex;
    align-items: center;
    height: 100%;
    width: 30px;
    border: none;
    background-color: $blue;
    padding: 0;
    border-radius: 4px;
    cursor: pointer;
    .icon {
      margin: 0 auto;
      color: $white;
    }
  }
}
