<ng-container>
  <div class="card-statistic-item">
    <mat-icon>visibility</mat-icon>
    <span>{{ video.statistics.viewCount }}</span>
  </div>
  <div class="card-statistic-item">
    <mat-icon>thumb_up</mat-icon>
    <span>{{ video.statistics.likeCount }}</span>
  </div>
  <div class="card-statistic-item">
    <mat-icon>thumb_down</mat-icon>
    <span>{{ video.statistics.dislikeCount }}</span>
  </div>
  <div class="card-statistic-item">
    <mat-icon>comment</mat-icon>
    <span>{{ video.statistics.commentCount }}</span>
  </div>
</ng-container>
