<mat-card [ngClass]="getClass()">
  <img class="video-img" src="{{ video.snippet.thumbnails.medium.url }}" />
  <mat-card-content>
    <div class="card-statistic-item">
      <mat-icon>visibility</mat-icon>
      <span>{{ video.statistics.viewCount }}</span>
    </div>
    <div class="card-statistic-item">
      <mat-icon>thumb_up</mat-icon>
      <span>{{ video.statistics.likeCount }}</span>
    </div>
    <div class="card-statistic-item">
      <mat-icon>thumb_down</mat-icon>
      <span>{{ video.statistics.dislikeCount }}</span>
    </div>
    <div class="card-statistic-item">
      <mat-icon>comment</mat-icon>
      <span>{{ video.statistics.commentCount }}</span>
    </div>
  </mat-card-content>
  <mat-card-title>{{ video.snippet.title }}</mat-card-title>
  <mat-card-actions>
    <button mat-raised-button color="blue" class="btn-more">More</button>
  </mat-card-actions>
</mat-card>
