@import '../../shared/shared.scss';

:host {
  .settings {
    background-color: $grey;
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
    .settings-title {
      margin-right: 20px;
      color: $dark-grey;
    }
    .settings-type {
      color: $blue;
      cursor: pointer;
    }
    .settings-type.link {
      margin-right: 25px;
      text-decoration: underline;
    }
    .settings-item {
      display: flex;
      align-items: flex-end;
      .settings-input {
        margin-left: 20px;
        border: none;
        outline: none;
      }
    }
  }
}
